{
    "Name": "Virtual Machine Scale Set Read-Only",
    "IsCustom": true,
    "Description": "Can read the properties of Virtual Machine Scale Sets",
    "Actions": [
        "Microsoft.Compute/virtualMachineScaleSets/*/read"
    ],
    "NotActions": [],
    "AssignableScopes": [
        "/subscriptions/${ARM_SUBSCRIPTION_ID}"
    ]
}
